.navi {
  height: max-content;
  width: 30%;
  position: relative;
}
.navi1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: white;

  button {
    border: none;
    background-color: black;
    color: white;
    padding: 5px 10px;

    &:hover {
      scale: 1.1;
      transition: 200ms linear;
    }
  }
}